/* 미리 작업할 수 있는것을 작성해서 생산성을 향상시키자 */

/* >= 768px, desktop - mode */
@media screen and (min-width: 768px) {
  /* 미리 작성한 코드 */
  p {
    font-size: 22px;
    line-height: 1.4545454545454546;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555555555556;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    font-size: 22px;
    line-height: 1.0909090909090908;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  /* ------------------landing page------------------ */

  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.0285714285714285;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* ------------------landing page------------------ */

  /* ------------------service page------------------ */
  .service-title {
    font-size: 26px;
    line-height: 1.3076923076923077;
  }

  .service .col-12:first-child {
    margin-bottom: 0px;
  }
  /* ------------------service page------------------ */

  /* ------------------program page------------------ */
  .program {
    text-align: center;
  }

  .program .row:first-child {
    margin-bottom: 72px;
  }

  .program img {
    margin-bottom: 24px;
  }

  .program strong {
    font-size: 20px;
    line-height: 1.2;
  }
  /* ------------------program page------------------ */

  /* ----------------Curriculum page------------------ */
  .curriculum .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0;
  }

  .curriculum .section-desc {
    margin-bottom: 72px;
  }

  .curriculum-image {
    display: block;
  }

  .curriculum-image img {
    display: block;
    width: 100%;
    max-width: 425px;
    height: auto;
  }

  .curriculum-detail-desc {
    font-size: 18px;
    line-height: 1.4444444444444444;
  }
  /* ----------------Curriculum page------------------ */
}

/* Custom grid system -Fix contain1er width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
