/* 미리 작업할 수 있는것을 작성해서 생산성을 향상시키자 */

/* >= 768px, desktop - mode */
@media screen and (min-width: 768px) {
  /* 미리 작성한 코드 */
  p {
    font-size: 22px;
    line-height: 1.4545454545454546;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555555555556;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    font-size: 22px;
    line-height: 1.0909090909090908;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  /* ------------------landing page------------------ */

  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.0285714285714285;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* ------------------landing page------------------ */

  /* ------------------service page------------------ */
  .service-title {
    font-size: 26px;
    line-height: 1.3076923076923077;
  }

  .service .col-12:first-child {
    margin-bottom: 0px;
  }
  /* ------------------service page------------------ */

  /* ------------------program page------------------ */
  .program {
    text-align: center;
  }

  .program .row:first-child {
    margin-bottom: 72px;
  }

  .program img {
    margin-bottom: 24px;
  }

  .program strong {
    font-size: 20px;
    line-height: 1.2;
  }
  /* ------------------program page------------------ */

  /* ----------------Curriculum page------------------ */
  .curriculum .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0;
  }

  .curriculum .section-desc {
    margin-bottom: 72px;
  }

  .curriculum-image {
    display: block;
  }

  .curriculum-image img {
    display: block;
    width: 100%;
    max-width: 425px;
    height: auto;
  }

  .curriculum-detail-desc {
    font-size: 18px;
    line-height: 1.4444444444444444;
  }
  /* ----------------Curriculum page------------------ */

  /* ----------------subscription page---------------- */

  .subscription {
    padding: 80px 0;
    text-align: left;
  }

  .subscription-image {
    padding: 8px 0;
  }

  .subscription-image img {
    height: 285px;
    margin-left: 0;
  }

  .subscription-title {
    font-size: 40px;
  }

  .subscription .input-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .subscription .input-group input {
    height: 56px;
    font-size: 18px;
    line-height: 1.3333333333333333;
    margin-right: 8px;
    margin-bottom: 4px;
  }

  .subscription .input-group .fill-button {
    flex-shrink: 0;
    font-size: 18px;
    line-height: 1.3333333333333333;
    letter-spacing: -0.02em;
    width: 160px;
  }

  .subscription-form .form-notice {
    font-size: 14px;
    line-height: 1.7142857142857142;
  }
  /*
   flex-grow: 부모태그 width값 안에 자식 태그들이 차지하고 남는공간이 있을때 그 공간만큼을 차지하게 해줌
   
   flex-shirink: flex-grow와 반대의 개념, 부모 태그의 width값보가 자식 태그들의 width합이 더 크면 자식 태그의 width값이 자동으로 줄어든다. 이를 방지하기 위한 속성
   */

  /* 이상 현상: 똑같은 160px button인데 curriculum button보다 더 width값이 작게 나온다.
  
  ==> 이유: 
  */

  /* ----------------subscription page---------------- */

  /* ----------------footer page---------------- */
  .footer {
    padding: 16px 0;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-link {
    margin: 0 16px 0 0;
  }

  .footer-link:last-child {
    margin-right: 0;
  }
  /* ----------------footer page---------------- */
}

/* Custom grid system -Fix contain1er width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
