/* 미리 작업할 수 있는것을 작성해서 생산성을 향상시키자 */

/* >= 768px, desktop - mode */
@media screen and (min-width: 768px) {
  p {
    font-size: 22px;
    line-height: 1.4545454545454546;
  }
}

/* Custom grid system -Fix contain1er width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
